In [1]:
#1.
 whatIf="The world ends today"
print(len(whatIf)-len("NOT AT ALL"))

10

In [2]:
#2.
m=["Dune","Jaws","vp","Titanic","Ratatouille"]
print(m[-2][3]+m[-1][-1]+m[-1][-4]+m[4][-6]+m[-5][1])

aeiou

In [3]:
#3.
strength={"IT":70,"ECE":65,"EEE":75,"AIML":50}
strength.update({"CSE":64})
print(strength)

{'IT': 70, 'ECE': 65, 'EEE': 75, 'AIML': 50, 'CSE': 64}

In [4]:
#4.
event="Easter at April 20"
L=event.split(" ")
print("#".join(L[::-2]))

20#at

In [5]:
#5.
name="college of engineering"
print(name[8:11]+"cyc"+name[3]+name[-3:])

of cycling

In [6]:
#6.
print(float(5+int(4.39+2.1)%2))

5.0

In [ ]:
#7.
print(3*1**3)

In [7]:
#8.
p,q=8,3
p,q,p=p+1,q+5,p+10
print(p,q)

18 8

In [8]:
#9.
print(16//3+3**3+15/4-9)

26.75

In [9]:
#10.
t=(2,4,(6,8,(10,12)),14)
print(t[2][2][0]*t[0]+t[-1])

34

In [10]:
#11.
a = (5,(7,5,(1,2)),5,4)
print(a.count(5))
print(a[1][2])
print(a * 3)
print(len(a))
b = (7,8,(4,5))
print(a + b)

2
(1, 2)
(5, (7, 5, (1, 2)), 5, 4, 5, (7, 5, (1, 2)), 5, 4, 5, (7, 5, (1, 2)), 5, 4)
4
(5, (7, 5, (1, 2)), 5, 4, 7, 8, (4, 5))

In [11]:
#12.
x = [3, 6, 9, 12, 15]
y = x[::-1]
print(y)
print(y[1] + x[-3])

[15, 12, 9, 6, 3]
21

In [12]:
#13.
word = "Whatever"
print(word[:3] + word[-1] + word[4:2:-1])

Wharet

In [13]:
#14.
nums = {3, 6, 9, 12}
print(nums)
nums.add(15)
print(nums)
nums.remove(6)
print(nums)
nums.update([18, 21])
print(nums)
nums.discard(99)
print(nums)
print(sum(nums))

{9, 3, 12, 6}
{3, 6, 9, 12, 15}
{3, 9, 12, 15}
{3, 9, 12, 15, 18, 21}
{3, 9, 12, 15, 18, 21}
78

In [14]:
#15.
info = {"name": "Sara", "age": 18, "state": "Kerala"}
info["age"] += 4
print(info)
info["country"] = "India"
print(info)
print(info.keys())
print(info.get("state", "Unknown"))

{'name': 'Sara', 'age': 22, 'state': 'Kerala'}
{'name': 'Sara', 'age': 22, 'state': 'Kerala', 'country': 'India'}
dict_keys(['name', 'age', 'state', 'country'])
Kerala

In [15]:
#16.
num_list = [5, 10, 15, 20, 25]
res = list(map(lambda x: x % 3, num_list))
print(res)

[2, 1, 0, 2, 1]

In [16]:
#17.
ages = [15, 22, 18, 30, 12, 40, 90]
adults = list(filter(lambda x: x >= 18, ages))
print(adults)
print(len(adults))

[22, 18, 30, 40, 90]
5

In [17]:
#18.
from functools import reduce
nums = [1, 2, 3, 4, 5]
result = reduce(lambda x, y: x * y, nums)
print(result)

120

In [18]:
#19.
alpha = ["a", "b", "c", "d"]
print(alpha.pop(2) + alpha[-1])
print(alpha)

cd
['a', 'b', 'd']

In [19]:
#20.
x = 10
y = 3
x, y = x % y, x // y
print(x, y)

1 3